<!DOCTYPE html>
<html lang="nl">
<head>
	<title>Vertaal Nederlands naar het Haags</title>
	<meta charset="UTF-8" />
	<meta name="description" content="Voor als je Nederlands naar het Haags wil vertalen, of gewoon Haags wil leren praten zoals Harry">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<meta property="og:title" content="Vertaal Nederlands naar het Haags" />
	<meta property="og:site_name" content="Haags.nu" />
	<meta property="og:description" content="Wil je Haags leren praten zoals Harry? Vetaal jâh tekste vannut Neidâhlans naah ut Haags!" />
	<meta property="og:url" content="https://haags.nu" />
	<meta property="og:image" content="https://haags.nu/share.png" />
	<meta name="twitter:image:src" content="https://haags.nu/share.png" />
	
	<meta name="google-site-verification" content="ICeZXJZ0LkkeH3YWAWozYkGNZ-l4RjfHmhwkPuVQtKU" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@500;600;700;800&family=Rubik&display=swap" rel="stylesheet">

	<style>@Html.Raw(System.IO.File.ReadAllText("wwwroot/site.css"));</style>
</head>

<body>
	<main class="wrapper">
		<header>
			<nav>
				<a asp-controller="Home" asp-action="Index" class="@(ViewBag.Current == "Home" ? "active" : "")">Vertaler</a>
				<figure>
					<div class="logo-wrap">
						<img src="logo.png" fetchpriority="high" alt="Logo van Haagse vertaalmachine"/>
					</div>
				</figure>
				<a asp-controller="About" asp-action="Index" class="@(ViewBag.Current == "Over" ? "active" : "")">Over</a>
			</nav>
		</header>

		@RenderBody()
	</main>

<footer>
	<p class="ad-haagsnl-prefix">Nog meâh Haags</p>
	
	<a href="https://haags.nl?utm_source=haagsnu&utm_medium=cpc" id="haagsnl-link" class="ad-haagsnl-link">	
		<picture>
			<source srcset="Header-Haags-small1.webp" type="image/webp">
			<img src="Header-Haags-small1.jpg" alt="Advertentie voor Haags.nl" class="ad-haagsnl" loading="lazy" />
		</picture>
	</a>
	
	<nav>
		<a href="mailto:roelfjan@q42.nl">Suggesties?</a>
	</nav>
	<p>
		<br/>
		Laatste update van vertaler: 24-11-2025
	</p>
</footer>
	
	<script>@Html.Raw(System.IO.File.ReadAllText("wwwroot/site.js"));</script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=G-4L4JPR01EL"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){window.dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-4L4JPR01EL');
	</script>
</body>
</html>